
h1{
  font-size: 30px;
  color:#22183c;
}

a, h1, p{
  color: #22183c;
}

a:hover{
  color: white;
  text-decoration: none;
}
.landing{
  overflow: hidden;
  position: relative;
  height: 100vh
}

.landing h1{
  margin-top: 10%;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

.btn-row{
  text-align: center;
  margin-top: 5%;
}

.btn{
  color: #000;
  background-color: #34d7d7;
  margin-left: 5%;
  height: 3em;
  width:9.5em;
}

form.login-form {
  width: 30em;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.bg-light{
  background-color: #34d7d7 !important;
}

.home-img{
  z-index: -10;
}
#person{
  position: absolute;
  width: 35%;
  left: 0;
}

#lady{
  position: absolute;
  width: 25%;
  right: 0;
  bottom: 1;
}
