#loadscreen{
  background-color: #fff;
  position: absolute;
  height: 90%;
  width: 100%;
  z-index: 1000;
  opacity: 0.95;
}

#loadscreen img{
  margin: 10% auto;
  display: block;
}
h1{
  font-size: 30px;
  color:#22183c;
}

.my-landing{
  padding-top: 7.5%;
}

a, h1, p{
  color: #22183c;
}

a:hover{
  color: white;
  text-decoration: none;
}
.landing{
  overflow: hidden;
  position: relative;
}

.landing h1{
  margin-top: 25%;
  text-align: center;
}

.btn-row{
  text-align: center;
  margin-top: 5%;
}

.btn{
  color: #000;
  background-color: #34d7d7;
  margin-left: 5%;
  height: 3em;
  width:9.5em;
  border: 1px solid white;
}

form.login-form {
  /* width: 30em; */
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form-group-select{
  margin: 5%;
}

.bg-light{
  background-color: #34d7d7 !important;
}

.radio_item{
display: none !important;
}

.label_item img{
  width: 8.5em;
}

.radio_item:hover + label {
  transform: scale(1.2);
  transition: .5s;
  box-sizing: border-box;
}

.home-img{
  width: 100%;
}

.about{
  height: 75vh;
  padding-top: 5em;
  border-top: 1px solid #58e1e1;
}
